/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log
/vendor
/docs
/docs/api
/.idea
/.vscode
/.vagrant
/.phpdoc
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
storage/logs/laravel.log
/nbproject/private/
*.zip
